@model ProductoModel
@{
    ViewData["Title"] = "Administrar Producto";
    var DatosProducto = ViewBag.DatosProducto;

    if (DatosProducto.Item1)
    {
        <div class="min-h-full flex items-center justify-center">
            <div class="w-9/12 space-y-8">
                <div>
                    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Editar Producto</h2>
                    <h2 class="text-center mt-2 text-xl font-extrabold text-purple-600">@TempData["Message"]</h2>
                </div>
                <form class="mt-8 space-y-6" asp-action="AdministrarProductoForm" asp-controller="Negocios" method="POST">
                    <div class="rounded-md shadow-sm -space-y-px grid grid-cols-2 gap-x-8">
                        <input type="hidden" asp-for="idNegocio">
                        <input type="hidden" asp-for="idProducto">
                        <div>
                            <label for="nombre" class="">Nombre del Producto</label>
                            <input asp-for="Nombre" id="nombre" type="text" required autocomplete="off" class="appearance-none bg-gray-100 rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Nombre del Producto">
                        </div>
                        <div>
                            <label for="codigo" class="">Código del Producto</label>
                            <input asp-for="CodigoProducto" id="codigo" type="text" required autocomplete="off" class="appearance-none bg-gray-100 rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Primer Nombre">
                        </div>
                        <div>
                            <label for="descripcion" class="">Descripción</label>
                            <input asp-for="Descripcion" id="descripcion" type="text" required autocomplete="off" class="appearance-none bg-gray-100 rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Descripción del producto">
                        </div>
                        <div>
                            <label for="Precio" class="">Precio</label>
                            <input asp-for="Precio" id="precio" type="text" required autocomplete="off" class="appearance-none bg-gray-100 rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Precio">
                        </div>
                    </div>
                    <div class="flex space-x-4 justify-center">
                        <button type="submit" class="group relative w-2/4 overflow-x-hidden flex justify-center py-2 px-4 border text-sm font-medium rounded-md text-purple-600 border-2 border-purple-600 hover:bg-purple-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Editar producto
                        </button>
                    </div>
                </form>
            </div>
        </div>
    }
    else
    {
        <h1 class="">@DatosProducto.Item3</h1>
    }


}