@{
    var user = User.Claims.Where(c => c.Type == "username").Select(c => c.Value).FirstOrDefault();
    var titulo = @ViewData["Title"].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@titulo - Proyecto eCommerce</title>
    <link rel="icon" href="~/icono.ico">
    <script src="~/lib/tailwind/tailwind.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<nav class="bg-white h-24">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-24">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <!-- Mobile menu button-->
                <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <!--
                    Icon when menu is closed.

                    Heroicon name: outline/menu

                    Menu open: "hidden", Menu closed: "block"
                    -->
                    <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"/>
                    </svg>
                    <!--
                    Icon when menu is open.

                    Heroicon name: outline/x

                    Menu open: "block", Menu closed: "hidden"
                    -->
                    <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </button>
            </div>
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex-shrink-0 flex items-center">
                    <h1 class="text-purple-700 font-bold text-xl">Proyecto eCommerce</h1>
                </div>
                <div class="hidden sm:block sm:ml-6">
                    <div class="flex space-x-4">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <a class="border border-purple-600 text-purple-600 px-3 py-2 rounded-md text-sm font-medium" asp-controller="Home" asp-action="Index">Inicio</a>
                    </div>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex space-x-4 items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <a class="border border-purple-600 text-purple-600 px-3 py-2 rounded-md text-sm font-medium">@user</a>
                        if (User.IsInRole("negocio"))
                        {
                            <a class="border border-purple-600 text-purple-600 px-3 py-2 rounded-md text-sm font-medium" asp-action="Index" asp-controller="Negocios">Admin</a>
                        }
                        <a class="border border-purple-600 text-purple-600 px-3 py-2 rounded-md text-sm font-medium" asp-action="LogOut" asp-controller="Autenticacion">Log Out</a>
                    }
                    else
                    {
                        if (titulo.Equals("Login") == false && titulo.Equals("Register") == false)
                        {
                            <a class="border border-purple-600 text-purple-600 px-3 py-2 rounded-md text-sm font-medium" asp-action="Login" asp-controller="Autenticacion">Login</a>
                            <a class="border border-purple-600 text-purple-600 px-3 py-2 rounded-md text-sm font-medium" asp-action="Register" asp-controller="Autenticacion">Register</a>
                        }
                    }
                }
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
        <div class="px-2 pt-2 pb-3 space-y-1">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a class="border border-purple-600 text-purple-600 px-3 py-2 rounded-md text-sm font-medium" asp-controller="Home" asp-action="Index">Inicio</a>

            @{
                if (User.Identity.IsAuthenticated)
                {
                    <a class="border border-purple-600 text-purple-600 px-3 py-2 rounded-md text-sm font-medium">@user</a>
                    if (User.IsInRole("negocio"))
                    {
                        <a class="border border-purple-600 text-purple-600 px-3 py-2 rounded-md text-sm font-medium" asp-action="Index" asp-controller="Negocios">Admin</a>
                    }
                    <a class="border border-purple-600 text-purple-600 px-3 py-2 rounded-md text-sm font-medium" asp-action="LogOut" asp-controller="Autenticacion">Log Out</a>
                }
                else
                {
                    if (titulo.Equals("Login") == false && titulo.Equals("Register") == false)
                    {
                        <a class="border border-purple-600 text-purple-600 px-3 py-2 rounded-md text-sm font-medium" asp-action="Login" asp-controller="Autenticacion">Login</a>
                        <a class="border border-purple-600 text-purple-600 px-3 py-2 rounded-md text-sm font-medium" asp-action="Register" asp-controller="Autenticacion">Register</a>
                    }
                }
            }
        </div>
    </div>
</nav>
<nav class="border-b-4 h-10 border-purple-600">
    <div class="h-full bg-purple-300"></div>
</nav>
<div class="min-h-[calc(100vh_-_96px_-_96px)]">
    <main role="main" class="py-5 px-5 overflow-x-hidden">
        @RenderBody()
    </main>
</div>
<footer class="h-24 flex items-center justify-center">
    <div class="container text-center">
        &copy; 2022 - Proyecto eCommerce - Felipe Sarmiento
    </div>
</footer>


@await RenderSectionAsync("Scripts", required: false)
</body>
</html>